@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-950 text-gray-200
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: #8e9ecc;
  border-radius: 1px;
}